@model TallerWeb.Web.Data.Entities.Assistance

<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="IsPresent" /> @Html.DisplayNameFor(model => model.IsPresent)
        </label>
    </div>
</div>
