@model  TallerWeb.Web.Models.MeetingViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FieldId" class="control-label"></label>
    <select asp-for="FieldId" asp-items="Model.Fields" class="form-control"></select>
    <span asp-validation-for="FieldId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DistrictId" class="control-label"></label>
    <select asp-for="DistrictId" asp-items="Model.Districts" class="form-control"></select>
    <span asp-validation-for="DistrictId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ChurchId" class="control-label"></label>
    <select asp-for="ChurchId" asp-items="Model.Churches" class="form-control"></select>
    <span asp-validation-for="ChurchId" class="text-danger"></span>
</div>
